#hiScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.hi-score {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #1f3c70;
}

.btn-home {
    background-color: #367af1;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 3rem;
    padding: 2% 5%;
    border-radius: 1.5rem;
}

.btn-home:hover {
    cursor: pointer;
    box-shadow: 0 0.3rem 1.3rem #1f3c70;
}